body {
    background-color: rgb(224, 224, 224);
}


.bg-img-karate {
    background-image: url("../img/fond-image.jpg");
    background-color: #f1eaea;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-primary{
    background-color: #e30016;
    border-color: #e30016;
    color: #fff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
  }
.fnoir {
    background-color: black;
}
.blanc {
    color: #fff;
}